<!DOCTYPE html>
<html>
<head>
<title>PAC-MAN</title>
<link rel="stylesheet" href="pacman.css">
</head>
<body id="map">
  {{>Navbar}}
<img id="pacman" src="Assets/pacmansmallgif.gif"></img>
<p id="title">PAC-MAN</p>
<p id="score">0</p>
<div style="text-align: center">
  <form action="/submit" method="post">
    <input type="hidden" id="username" name="username" value={{username}}>
    <input type="hidden" id="scoresubmit" name="score" value=0>
    <input type="submit" id="submitbutton" onclick="getscore()" value="Submit Score"></button>
  </form>
</div>
<div id="arrows">
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    console.log("we reached here")
    $(function () {
      var socket = io();
      $('form').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
      });
    });
  </script>
</div>
<div id="highscorebox">
  <p id="highscoretitle">High Scores</p>
  <pre id="highscorelist">{{highscores}}</p>
  <p id="personalhighscore">Hi <b>{{username}}</b>!<br>Your high score: <b>{{highscore}}</b></p>
  <br>
</div>
<script src = "pacman.js">
var processed_map = proc_map([{{values}}], {{width}});
pacman_map(processed_map,{{width}});
pacman_pallets(processed_map, {{width}});
</script>
</body>
</html>