<!DOCTYPE html>
<html>
<head>
<title>PAC-MAN</title>
<link rel="stylesheet" href="pacman.css">
</head>
<body id="map">
  {{>Navbar}}
<img id="pacman" src="Assets/pacmansmallgif.gif"></img>
<p id="title">PAC-MAN</p>
<p id="score">0</p>
<div style="text-align: center">
  <form action="/submit" method="post">
    <input type="hidden" id="username" name="username" value={{username}}>
    <input type="hidden" id="scoresubmit" name="score" value=0>
    <input type="submit" id="submitbutton" onclick="getscore()" value="Submit Score"></button>
  </form>
</div>
<div id="arrows">
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</div>
<div id="highscorebox">
  <p id="highscoretitle">High Scores</p>
  <pre id="highscorelist">{{highscores}}</p>
  <p id="personalhighscore">Hi <b>{{username}}</b>!<br>Your high score: <b>{{highscore}}</b></p>
  <br>
</div>
<script src = "pacman_map.js"></script>
<script>
    var pocmap = new pac_map()
    pocmap.processed_map = pocmap.proc_map([{{values}}],{{width}})
    pocmap.pacman_map(pocmap.processed_map,{{width}});
    pocmap.pacman_pallets(pocmap.processed_map, {{width}});
    function tick(pac){
        pac.block();
        pac.pac_move();
        pac.eat();
        pac.ghost_move();
        console.log("hmm")
    }
    var pacman_interval = setInterval(tick(pocmap), 1000/30 );
    document.onkeydown = checkKey;

    function checkKey(e) {
        e = e || window.event;

        if (e.keyCode == '38') {
            pocmap.direction(0)
        }
        else if (e.keyCode == '40') {
            pocmap.direction(1)
        }
        else if (e.keyCode == '37') {
            pocmap.direction(2)
        }
        else if (e.keyCode == '39') {
            pocmap.direction(3)
        }
        console.log(pocmap.pac_y)
        console.log(pocmap.pac_y)
    }
</script>
</body>
</html>